/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS correspondiente al Index */
body {
    font-family: 'Raleway', sans-serif;
    background-color: black;
}

/* Barra de navegacion  */
.barraNavegacion {
    display: flex;
    flex-direction: row;
    align-items: space-evenly;
    flex-wrap: nowrap;
    font-size: 30px;
    background-color: #000;
    background: linear-gradient(rgba(0, 0, 0, 0.824));
    width: max-content;
    height: 150px;
    padding: 2rem;
    top: 0;
    grid-area: nav;
}


.itemsNav {
    font-size: 20px;
    color: hsla(204, 42%, 86%, 0.886);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 25px;
    padding-left: 50px;
}

.itemsNav__boton {
    text-decoration: none;
    color: darkcyan;
    margin: 15px;
}

.itemsNav__logo a img {
    width: 15%
}
/* Fin barra de navegacion  */


/* Contenedor Principal  */

.grid__ContainerIndex {
    display: grid;
    grid-template-areas: 
                        "nav nav nav"
                        "aside sec1 sec1"
                        "aside sec2 sec2"
                        "pie pie pie"
                        ;
}

/* Media Queries Mobile */
@media (max-width: 360px){
    .grid__ContainerIndex{
        grid-template-areas: 
                        "nav nav "
                        "sec1 sec1"
                        "sec2 sec2"
                        "aside aside"
                        "pie pie";
    }
    .contenedor__menuIzquierdo {
        align-items: center;
    }
}
/* Media Queries Desktop */
@media (min-width: 1024px){
    .grid__ContainerIndex{
        grid-template-areas: 
                        "nav nav nav nav"
                        "aside aside sec1 sec1"
                        "aside aside sec2 sec2"
                        "aside aside sec2 sec2"
                        "pie pie pie pie";
    }
}

.contenedor__menuIzquierdo {
    background-color: #0a0a0a;
    width: auto;
    height: auto;
    padding: 15px;
    text-align: center;
    line-height: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    grid-area: aside;
}

.menuIzquierdo__titulo {
    margin-bottom: 30px;
    color: darkcyan;
    letter-spacing: 6px;
    text-align: center;
}
.menuIzquierdo__boton {
    list-style: none;
    text-decoration: none;
    background-color: #000000;
    color: rgb(8, 142, 151);
    border: solid white;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 5px;
    text-align: center;
    width: 150px;
}

.menuIzquierdo__boton a {
    color: darkcyan;
    letter-spacing: 3px;
}
/*contenedor presentacion*/
.contenedor__presentacion {
    grid-area: sec1;
}
.presentacion__titulo {
    text-decoration: none;
    margin-top: 15px;
    font-size: 6rem;
    letter-spacing: 1rem;
    background-image: url(/multimedia/2.jpg);
    color: white;
    padding: 4rem;

}

.presentacion__descripcion {
    width: auto;
    text-align: center;
    padding: 3rem;
    font-size: 30px;
    letter-spacing: 1rem;
    color: #fcfcfc;
}

.imagenPrin{
    border-radius: 5px;
}

h2 {
    color: #0a0013;
    text-align: center;
    text-decoration: overline;
    letter-spacing: 2px;
    font-family: sans-serif;
    margin: 25px;
}



/* FOOTER  */
footer{
    background-color: rgb(8, 8, 8);
}
footer p {
    font-size: auto;
    text-transform: uppercase;
    padding: 20px;
    color: aliceblue;
    text-align: center;
    font-family: 'Raleway', sans-serif
}

footer i {
    font-size: 40px;
    color: aliceblue;
    margin-bottom: 20px;
    letter-spacing: 20px;
}
.redes{
    text-align: center;
    letter-spacing: 1rem;
}
.subir {
    height: 40px;
    width: 40px;
    background-color: rgba(13, 73, 38, 0.753);
    border: 5px solid rgb(0, 0, 0);
    color: black;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    box-shadow: 0 2px 10px #333;
}
/* Fin CSS correspondiente al Index */

/* CSS Correspondiente a PRODUCCIONES */
.formatoVideos, li {
    list-style: none;
    display: inline-block;
    color: darkcyan;
    align-items: center;
    text-align: center;
    padding: 2rem;
    justify-content: center;
}
.produs{
    align-items: center;
    text-align: center;
    padding: 2rem;
    justify-content: center;
}
.tituloprodus{
    color: #fcfcfc;
    text-align: center;
    text-decoration: none;
    font-size: 4rem;
    background-image: url(/multimedia/2.jpg);
}

    .barraNavegacion {
        width: 100%;
    }
    .itemsNav {
        width: max-content;
    }
    .itemsNav__logo{
        width: 355%;
    }

    /*galeria css*/

    h1{
        color: antiquewhite;
        font-size: 70px;
        text-align: center;
    }
    .contenedor1{
        width: 100%;
        margin: auto;
    }
    img{
        width: 100%;
        padding: 1rem;
    }
    .persona__columna{
        margin: 5px;
    }
    .personas .contenedor1{
        display: grid;
    }
    @media(min-width:520px){
        .personas .contenedor1{
            grid-template-columns: repeat(2, 50%);
        }
    }

        @media(min-width:728px){
            .personas .contenedor1{
                grid-template-columns: repeat(3, 33.3%);
            }
        }

            @media(min-width:1024px){
                .personas .contenedor1{
                    grid-template-columns: repeat(4, 25%);
                }
            }

    .tituloGaleria{
        background-image: url(/multimedia/2.jpg);
        padding: 3rem;
    }


/*fomulario*/
.formContainer {
    width: 75%;
    margin: 3rem auto;
    background-color: black;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 3px -5px 3px 0px rgba(13, 54, 3, 0.75);
}

.formContainer__title {
    color: white;
    font-size: 2rem;
    margin: 1.5rem;
    text-align: center;
}

.form {
    text-align: center;
}

.form__label {
    display: inline-block;
    width: 60%;
    color: white;
    text-align: left;
    font-weight: 400;
}

.form__imput,
.form__textarea {
    width: 60%;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: black;
    color: white;
    border: none;
    border-bottom: solid 1px rgb(94, 27, 27);
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.5rem;
}

.form__textarea {
    height: auto;
    resize: none;
}

.form__imput:focus,
.form__textarea:focus {
    outline: none;
}

.form__imput--sumbit {
    background-color: rgba(13, 54, 3, 0.75);
    margin-top: 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
    cursor: pointer;
    border-bottom: none;
}

.form__imput--sumbit:hov {
    background-color: rgba(30, 109, 10, 0.75);
}

.colornav{
    color: darkcyan;
}
h2{
    color: aliceblue;
}