.contenedor1 {
    width: 100%;
    margin: auto;
}

img {
    width: 100%;
    padding: 1rem;
}

.personas .contenedor1 {
    display: -ms-grid;
    display: grid;
}

@media (min-width: 360px) {
    .h1{
        font-size: 50px;
    }
    .personas .contenedor1 {
        -ms-grid-columns: (50%, 2);
        grid-template-columns: repeat(2, 50%);
    }
}

@media (min-width: 728px) {
    .personas .contenedor1 {
        -ms-grid-columns: (33.3% ,3);
        grid-template-columns: repeat(3, 33.3%);
    }
}

@media (min-width: 1024px) {
    .personas .contenedor1 {
        -ms-grid-columns: (25% , 4);
        grid-template-columns: repeat(4, 25%);
    }
}