//css externos
@import"index";
@import"producciones";
@import"galeria";
@import"contacto";


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    background-color: black;
    font-family: 'Raleway', sans-serif;
}
nav{
    background-color: black;
    text-align: center;
    background-size: auto;
    background-position: center;
    height: auto;
    width: auto;
    display: flex;
    font-size: small;
    .navbar-nav{
        color: blanchedalmond;
    }
    .rounded-circle{
        height: 30px;
        align-items: center;
    }
}
footer{
    background-color: black;
    text-transform: uppercase;
    padding: 25px;
    color: blanchedalmond;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    i{
        font-size: 45px;
        color: blanchedalmond;
        margin-bottom: 15px;
        letter-spacing: 3rem;
    }
}
.subir {
    height: 40px;
    width: 40px;
    background-color: rgba(13, 73, 38, 0.753);
    border: 5px solid black;
    color: black;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 10px #333;
            box-shadow: 0 2px 10px #333;
}